/* Color variables */
:root {
  --clr-pink: oklch(70.58% 0.2641 359.47deg);
  --clr-red: #f03668;
  --clr-orange: #ff775a;
  --clr-gold: #fcd224;
  --clr-green: #a0cc50;
  --clr-sky-blue: #0ad1ea;
  --clr-violet: #460087;
}

/* google font */

.rammetto-one-regular {
  font-family: Coiny, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.coiny-regular {
  font-family: Coiny, system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Basic Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  width: 100vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: calc(16px + 0.3906vw);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Coiny, sans-serif;
}

.hidden {
  display: none;
}

.game-screen {
  position: relative;
  display: flex;
  align-items: center;
  vertical-align: middle;
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
}

.game-screen canvas {
  position: absolute;
  aspect-ratio: 16 / 9;
  background: lightblue;
  image-rendering: pixelated;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: -10;
}

.game-screen #ui {
  z-index: 100;

  /* TODO: Unhide menu */
  display: flex;

  /* align-items: center;
      vertical-align: top; */

  /* position: relative; */
  width: 80%;
  height: 80%;
  margin: 0 auto;
  top: 10%;
  padding: 10vw 4vw 2vw 14vw;
  overflow: hidden;

  /* z-index: 10; */
  border-radius: 2.5vw;
  background-color: var(--clr-sky-blue);
  background: linear-gradient(
    315deg,
    rgba(153, 128, 217, 1) 12%,
    rgba(10, 209, 234, 1) 57%
  );

  /* box-shadow: 0 0 0 1.5vw black; */
  border: 0.6vw solid black;
  outline: 0.6vw solid white;
  flex-direction: column;
}

button {
  align-self: center;
  align-items: center;
  vertical-align: middle;
  display: inline-block;
  font-size: 2vw;
  text-align: center;
  text-transform: uppercase;
  padding: 1vw 1.2vw 0.6vw 1.2dvw;
  line-height: 100%;
  border-radius: 1.5vw;
  color: black;
  letter-spacing: 0.1vw;
  font-weight: normal;
  border: 0.6vw solid black;
  background: linear-gradient(
    300deg,
    var(--clr-green) 52%,
    var(--clr-gold) 80%
  );
  outline: 0.4vw solid white;
  font-family: Coiny, sans-serif;
}

.continue-button {
  position: absolute;
  right: 5vw;
  bottom: 3vw;
  transform: rotate(-10deg);
  transition: all 0.1s;
}

button:hover {
  transform: rotate(0deg) scale(120%);
}

#ui header {
  align-self: center;
  align-items: center;
  vertical-align: middle;
  display: inline-block;
  border-radius: 2.5vw;
  color: var(--clr-violet);
  border: 0.8vw solid black;
  background-color: var(--clr-sky-blue);
  outline: 0.4vw solid white;
  position: absolute;
  left: 5%;
  top: 5%;
  overflow: none;
  transform: rotate(-5deg);
}

#ui h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: calc(20px + 3vw);
  letter-spacing: 0.1vw;
  font-weight: normal;
  -webkit-text-stroke: 3px white;
  line-height: 100%;
  padding: 1.7vw 1.8vw 0.8vw;
}

#quit-button {
  display: inline-block;
  position: absolute;
  bottom: 5%;
  left: 5%;
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  width: 12vw;
  height: 12vw;
  background-color: black;
  transform: rotate(10deg);
}

#quit-button #border {
  display: inline-block;
  position: relative;
  left: 0.8vw;
  top: 0.8vw;
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  width: 10.4vw;
  height: 10.4vw;
  background-color: white;
}

#quit-button button {
  position: absolute;
  top: 0.6vw;
  left: 0.6vw;
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  width: calc(10.4vw - 1.2vw);
  height: calc(10.4vw - 1.2vw);
  background: red;
  font-size: 2vw;
  letter-spacing: 0.3vw;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
  border: none;
}

.ui-icon {
  width: 6vw;
  height: auto;
  max-width: 128px;
  max-height: auto;
}

#ui ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#ui ul li {
  padding: 1.5vw 0;
  display: flex;
  text-align: center;
  align-items: center;
  vertical-align: middle;
}

#ui ul li input {
}
