/* Color variables */
:root {
  --clr-pink: oklch(70.58% 0.2641 359.47);
  --clr-red: #f03668;
  --clr-orange: #ff775a;
  --clr-gold: #fcd224;
  --clr-green: #a0cc50;
  --clr-sky-blue: #0ad1ea;
  --clr-purple: #d379ff;
  --clr-violet: #460087;
}

/* Google font embed code */

.coiny-regular {
  font-family: Coiny, system-ui;
  font-style: normal;
  font-weight: 400;
}

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* Basic Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Element styles */

body {
  width: 100vw;
  background-color: var(--clr-sky-blue);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: calc(16px + 0.3906vw);
  /* overflow: hidden; */
}

img {
  max-width: 100%;
  /* CONTAIN-INTRINSIC-BLOCK-SIZE: AUTO 100PX; */
}

h2 {
  padding: 20px 0;
}

.game-screen h1,
.game-screen h2,
h3,
h4,
h5 {
  font-family: Coiny, sans-serif;
}

/* Utility classes */

.hidden {
  display: none !important;
}

.center {
  align-items: center;
  justify-self: center;
  margin: 0 auto !important;
  text-align: center;
}

.green-bg {
  background-color: var(--clr-green);
}

.violet-bg {
  background-color: var(--clr-violet);
}

.teal-bg {
  background-color: #46fcff;
}

/* Game Screen classes */

.game-screen {
  display: flex;
  align-content: center;
  position: relative;
  margin-top: 0%;
  width: 100%;
  /* margin-bottom: 25%; */

  /* height: auto; */
  /* border: 1px solid magenta; */
  /* vertical-align: middle; */
}

#game-screen--border-overlay {
  width: 100%;
  height: auto;
  pointer-events: none;
  z-index: 12;
  padding: 2%;
}

.game-screen canvas {
  position: absolute;
  background-color: var(--clr-sky-blue);
  background-image: url("../images/bg01-flattened.png");
  background-size: cover;
  background-position: center;
  right: auto;
  width: 86%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  aspect-ratio: 16 / 9;
  image-rendering: pixelated;
  /* border: 2px solid magenta; */
}

#overlay {
  position: absolute;
  display: flex;
  right: auto;
  width: 80%;
  /* max-height: 60%; */
  margin-top: 12%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  /* text-align: center; */
  /* aspect-ratio: 16 / 9; */
  /* width: 80%; */
  /* margin-top: 10%; */
  /* left: 50%; position the top  edge of the element at the middle of the parent */
  /* height: auto;
  max-height: auto; */
  z-index: 10;
  padding: 0;
  overflow: hidden;
  /* transform: translate(-50%, 0); */
  /* margin-top: 6%; */
  /* transform: translate(-50%, 0%); */
  /* transform: translate(-50%, -50%); */

  /* border: 1px solid magenta; */
}

.ui-panel {
  align-self: center;
  z-index: 11;
  width: 80%;
  /* height: 10%; */
  margin: 20px auto 10px auto;
  padding: 8% 8% 4% 8%;
  border: 0.6vw solid black;
  border-radius: 2.5vw;
  outline: 0.6vw solid white;
  background-color: var(--clr-sky-blue);
  background: linear-gradient(
    315deg,
    rgba(153, 128, 217, 1) 12%,
    rgba(10, 209, 234, 1) 57%
  );
  /* z-index: 20; */
}

#intro-screen {
  display: flex;
  gap: 10px 8vw;
  max-width: 100vw;
}
#intro-screen img {
  /* position: absolute; */
  max-height: 70vh;
  padding: 0;
  /* border: 2.5vh solid white; */
  border-radius: 15px;
  right: 5vh;
  top: 5vh;
  transform: rotate(5deg);
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

#intro-screen p {
  /* padding: 10vh; */
  /* position: absolute; */
  top: 8vh;
  max-width: 48vw;
  margin: 0 5vh;
  padding: 5vh;
  padding-right: 10vh;
  color: #fff;
  background-color: #000;
  border-radius: 15px;
}

button {
  display: inline-block;
  align-items: center;
  align-self: center;
  padding: 1% 1.2% 0.6% 1.2%;
  border: 0.6vw solid black;
  border-radius: 1.5vw;
  outline: 0.4vw solid white;
  background: linear-gradient(
    300deg,
    var(--clr-green) 52%,
    var(--clr-gold) 80%
  );
  font-family: Coiny, sans-serif;
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: black;
  transition: all 0.1s;
  vertical-align: middle;
  line-height: 100%;
  letter-spacing: 0.1vw;
}

#resume-button,
#pause-button {
  position: absolute;
  right: 5vw;
  top: 5vw;
  background: var(--clr-green);
  font-size: 1rem;
  transform: rotate(5deg);
  transition: all 0.1s;
}

#pause-button {
  display: none;
}

#resume-button:hover,
#pause-button:hover {
  transform: rotate(0deg) scale(120%);
}

#menu-screen header {
  display: inline-block;
  align-items: center;
  align-self: center;
  position: absolute;
  left: 12%;
  top: 8%;
  /* background-color: var(--clr-sky-blue); */
  color: var(--clr-violet);
  vertical-align: middle;
  overflow: none;
}

#menu-screen h2 {
  padding: 1.7vw 1.8vw 0.8vw;
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  text-shadow: -3px -3px 0 #fff, 3px -3px 0 #fff, -3px 3px 0 #fff,
    3px 3px 0 #fff;
  text-transform: uppercase;
  letter-spacing: 0.1vw;
  line-height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

#stop-button {
  display: inline-block;
  position: absolute;
  left: 5vw;
  bottom: 0.5vh;
  width: 11vw;
  height: 11vw;
  background-color: white;
  transform: rotate(-15deg);
  transition: all 0.3s;
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

#stop-button > .border {
  display: inline-block;
  position: absolute;
  left: 5%;
  bottom: 5%;
  width: 10vw;
  height: 10vw;
  background-color: black;
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

#stop-button button {
  position: absolute;
  left: 0.6vw;
  bottom: 0.6vw;
  width: calc(10vw - 1.2vw);
  height: calc(10vw - 1.2vw);
  border: none;
  background: red;
  font-size: 1vh;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  color: white;
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  letter-spacing: 0.3vw;
}

#stop-button:hover {
  transform: scale(130%);
}

.ui-icon {
  width: 8vw;
  max-width: 128px;
  height: auto;
  max-height: auto;
}

#menu-screen li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5vw 1vw;
  text-align: center;
  list-style-type: none;
  vertical-align: middle;
}

#menu-screen li {
  display: flex;
  justify-content: space-between;
  text-align: center;
  list-style-type: none;
  vertical-align: middle;
}

#title-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#title-screen > img {
  max-width: 40vw;
}

#start-button {
  display: block;
  position: relative;
  margin: 12px auto 20px auto;
  padding: 12px 34px 0px 38px;
  transition: 0.3s;
}

a {
  text-decoration: none;
  color: inherit;
}
#start-button:hover {
  transform: scale(120%) rotate(-2deg);
}

#start-button::before {
  content: "";
  position: absolute;
  padding: 1vw;
  border-radius: 3vw;
  background: conic-gradient(
    from var(--angle),
    var(--clr-pink),
    var(--clr-orange),
    var(--clr-gold),
    var(--clr-green),
    var(--clr-purple),
    magenta
  );
  animation: 4s rotate linear infinite;
  inset: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  cursor: pointer;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-200%);
  }
  70% {
    transform: translateY(0);
  }
  75% {
    transform: rotate(2deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  85% {
    transform: rotate(2deg);
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

#start-button h2 {
  display: block;
  margin: 0;
  padding: 0 2vw 2vw 2vw;
  font-family: Silkscreen, sans-serif;
  font-size: 7rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #3f0279;
  letter-spacing: 0.5rem;
  /* max-width: 30vw; */
}

.range-container {
  width: 85%;
}

.slider {
  width: 100%;
  height: 2.2vw;
  border: 0.3vw solid black;
  border-radius: 20px;
  outline: none;
  background: var(--clr-violet);
  transition: all 0.2s;
  appearance: none;
  -webkit-appearance: none;
  -webkit-transition: 0.2s;
}

.slider:hover {
  border: 0.6vw solid black;
  background-color: var(--clr-green);
  box-shadow: 4px 4px 0px black;
}

.slider::-webkit-slider-thumb {
  width: 10vw;
  height: 3.5vw;
  border: 0.5vw solid black;
  border-radius: 20vw;
  outline: 0.3vw solid white;
  background: var(--clr-orange);
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  aspect-ratio: 1;
}

.slider::-webkit-slider-thumb:hover {
  background-color: var(--clr-purple);
  transform: scale(120%);
}

.slider::-moz-range-thumb {
  width: 10vw;
  height: 4vw;
  border: 0.8vw solid black;
  border-radius: 20vw;
  outline: 0.5vw solid white;
  background: var(--clr-orange);
  appearance: none;
  cursor: pointer;
  aspect-ratio: 1;
}

/* |||| HUD element styles |||| */

#gameplay-hud {
  display: flex;
  width: 20%;
  flex-direction: column;
  margin: 2vw;
  /* border: 1px solid magenta; */
  text-justify: left;
  align-items: left;
  align-content: left;
  justify-content: left;
}
#hud-score {
  font-family: Coiny, system-ui;
  font-size: 2vh;
  text-shadow: -3px -3px 0 #fff, 3px -3px 0 #fff, -3px 3px 0 #fff,
    3px 3px 0 #fff;
  color: var(--clr-violet);
  align-content: left;

  /* border: 1px solid magenta; */
}

#hud-health-meter {
  height: 2vh;
  width: 100%;
  position: relative;
  background: #000;
  border-radius: 25px;
  border: 2px solid #fff;
  padding: 3px;
  /* box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3); */
}

#hud-health-meter span {
  display: block;
  height: 100%;
  width: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: var(--clr-red);
  /* background-image: linear-gradient(
    center bottom,
    rgb(43, 194, 83) 37%,
    rgb(84, 240, 84) 69%
  ); */
  /* box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.3),inset 0 -2px 3px rgba(0, 0, 0, 0.4); */
  position: relative;
  overflow: hidden;
}

/* ||||  Control panel styles |||| */
#ui--controls-panel {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  /* max-width: 100vw; */
  /* border: 5px solid orange; */
  z-index: 1;
}

#ui--controller-buttons,
#ui--controller-menu-buttons {
  /* position: sticky; */
  display: flex;
  flex-direction: row;
  /* vertical-align: middle; */
  /* align-self: center; */
  /* align-self: flex-end; */
  /* width: 100%; */
  bottom: 0;
  padding: 2vh 2vw;
  /* border: 4px solid magenta; */
}

#ui--controller-buttons {
  justify-content: space-between;
}

#ui--controller-menu-buttons {
  justify-content: center;
  gap: 4vw;
}

#control--dpad {
  height: auto;
  width: 35%;
  vertical-align: middle;
  padding-left: 0;
  margin-left: 0;
  /* width: auto; */
  /* border: 1px solid magenta;  */
}

#control--button-primary {
  height: auto;
  width: 35%;
  vertical-align: middle;
  /* max-width: 30%; */
  /* border: 1px solid magenta;  */
}

#control--select-button,
#control--start-button {
  height: auto;
  max-width: 25%;
  max-height: auto;
  align-self: center;
  padding-top: 0vh;
  /* margin: 0 auto; */
  /* border: 1px solid magenta; */
}

#ui--super-nantendo {
  max-width: 1200px;
  /* height: 100vh; */
  height: 100vh;
  max-height: 100svh;
  margin: 0 auto;
  background-color: #46fcff;
  /* border: 1px solid magenta; */
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
