/* Color variables */
:root {
  --clr-pink: oklch(70.58% 0.2641 359.47);
  --clr-red: #f03668;
  --clr-orange: #ff775a;
  --clr-gold: #fcd224;
  --clr-green: #a0cc50;
  --clr-sky-blue: #0ad1ea;
  --clr-purple: #d379ff;
  --clr-violet: #460087;
}

/* Google font embed code */

.coiny-regular {
  font-family: Coiny, system-ui;
  font-style: normal;
  font-weight: 400;
}

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* Basic Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (orientation: landscape) {
  .game-screen__border-overlay {
    display: none;
  }

  .game-screen canvas {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 16/9;
  }

  .game-screen__ingame-overlay {
    /* height: 100%; */
    width: auto;
    display: hidden;
    transform: translateY(-100%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* margin-top: 0;
    margin-bottom: 0; */
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 16/9;
    border: 2px solid yellow;
  }

  /* .game-screen__ingame-overlay {
    display: block;
    position: absolute;
    /* height: 100%; 
    width: auto;
    top: 0;
    margin-top: 0%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 16/9;
    overflow: hidden;
    border: 2px solid yellow;
  } */

  #ui--virtual-controller {
    display: none;
  }
}

@media (orientation: portrait) {
  .game-screen__border-overlay {
    position: absolute;
    height: auto;
    top: 0;
    /* margin-top: 15%; */
    margin: 2.5% 2.5%;
  }

  .game-screen canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    margin-bottom: 12%;
    width: 84%;
    height: auto;
    aspect-ratio: 16/9;
  }

  .game-screen__ingame-overlay {
    display: block;
    position: absolute;
    width: 82%;
    height: auto;
    top: 0;
    margin-top: 13%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    aspect-ratio: 16/9;
    overflow: hidden;
    border: 2px solid yellow;
  }

  .game-screen__ingame-overlay img {
    max-height: 70%;
    width: auto;
  }

  #ui--virtual-controller {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
} /* Element styles */
body {
  width: 100svw;
  background-color: var(--clr-sky-blue);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: calc(16px + 0.3906vw);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}
#ui--super-nantendo {
  /* max-width: 1200px; */
  height: 100vh;
  /* height: 100vh; */
  max-height: 100svh;
  margin: 0 auto;
  background-color: #46fcff;
  /* border: 1px solid magenta; */
  z-index: 1;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}

.game-screen {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  /* position: relative; */
}

/* Utility classes */

.hidden {
  display: none;
}

.center {
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.pixelated {
  image-rendering: pixelated;
}

.green-bg {
  background-color: var(--clr-green);
}

.violet-bg {
  background-color: var(--clr-violet);
}

.teal-bg {
  background-color: #46fcff;
}

/* ID and CLASS styles */

.interface__super-nantendo {
  margin-top: 0%;
}

.game-screen canvas {
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--clr-sky-blue);
  /* background-image: url("../images/bg01-flattened.png"); */
  background-size: cover;
  background-position: center;
  aspect-ratio: 16/9;
}

#menu-screen {
  height: 100%;
  margin-top: 0;
  /* margin: 5% 5% 0 5%; */
  background-color: var(--clr-sky-blue);
  background: linear-gradient(
    315deg,
    rgba(153, 128, 217, 1) 12%,
    rgba(10, 209, 234, 1) 57%
  );
  border: 1px solid magenta;
}

#menu-screen h2 {
  margin: 0;
  padding: 0;
}

#title-screen {
  aspect-ratio: 16/10;
  overflow: hidden;
}

/* #title-screen img {
  max-height: 100%;
} */

/* .game-screen__ingame-overlay {
  position: absolute;
  top: 0;
  left: auto;
  right: auto;
  
  /* margin-left: auto;
  margin-right: auto; 
  z-index: 500;
  overflow: hidden;
  border: 1px solid aqua;
} */

/* In-Game HUD styles */
#gameplay-hud {
  /* position: absolute; */
  /* width: 30%; */
  left: 0;
  top: 0;
  width: 30%;
  height: 30%;
  margin-left: 5%;
  margin-top: 5%;
  position: relative;
  /* border: 2px solid cyan; */
}

#hud-player-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#hud-lives-remaining div {
  font-family: Coiny, sans-serif;
  font-size: 2vw;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  line-height: 1.5vw;
  top: 5%;
  /* left: 3%; */
  z-index: 6;
  position: absolute;
}

#hud-lives-remaining img {
  width: 6vw;
  height: auto;
  z-index: 5;
  display: block;
  position: relative;
  /* border: 1px solid magenta; */
}

#hud-health-meter {
  height: 3svh;
  /* min-height: 10px; */
  width: 82%;
  background: var(--clr-violet);
  border-radius: 25px;
  border: 0.3vh solid #fff;
  padding: 5px;
  margin-left: -4%;
  /* border: 1px solid magenta; */
  vertical-align: middle;
  z-index: 3;
  /* position: absolute; */
  /* top: 10%; */
  /* right: 0%; */
  /* box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3); */
}

#hud-health-meter span {
  display: block;
  height: 100%;
  min-height: 2px;
  /* width: auto; */
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: var(--clr-red);
  /* background-image: linear-gradient(
    center bottom,
    rgb(43, 194, 83) 37%,
    rgb(84, 240, 84) 69%
  ); */
  /* box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.3),inset 0 -2px 3px rgba(0, 0, 0, 0.4); */
  /* position: relative; */
  z-index: 4;
  /* overflow: hidden; */
}

#hud-score {
  font-family: Coiny, sans-serif;
  font-size: 3svw;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  color: var(--clr-violet);
  display: block;
  margin: 3%;
  margin-bottom: 5%;
  padding-top: 0;
  line-height: 2.5vh;
  /* border: 1px solid magenta; */
}

#hud-combo {
  font-family: Coiny, sans-serif;
  font-size: 3svw;
  display: block;
  height: fit-content;
  width: fit-content;
  line-height: 1rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  margin: 3%;
  padding: 0;
  /* border: 1px solid magenta; */
}

#hud-combo span {
  color: #ccc;
  opacity: 50%;
}
/* ||||  Virtual Controller styles |||| */

#ui--virtual-controller {
  width: 100%;
  height: 100%;
  /* border: 5px solid orange; */
  z-index: 10;
  padding-bottom: 5%;
}

#ui--virtual-controller img {
  /* max-width: 100%; */
  height: auto;
}

#ui--virtual-controller-buttons,
#ui--virtual-controller-menu-buttons {
  display: flex;
  flex-direction: row;
  /* border: 4px solid magenta; */
}

#ui--virtual-controller-buttons {
  display: flex;
  justify-content: space-between;
  align-content: center;
  /* border: 3px solid magenta; */
  /* gap: 10vw; */

  /* max-height: 150px; */
}

#virtual-controller--button-dpad {
  display: grid;
  grid-template-columns: 50% 50%;
  min-width: 40%;
  height: auto;
  /* border: 1px solid magenta; */
}

#virtual-controller--button-primary {
  width: 40%;
  /* border: 1px solid magenta; */
}

#ui--virtual-controller-menu-buttons {
  justify-content: center;
  display: flex;
  /* vertical-align: bottom; */
  /* margin-bottom: 15%; */
  gap: 4vw;
}
#ui--virtual-controller-menu-buttons img {
  /* max-width: 100%; */
}

#virtual-controller--button-select,
#virtual-controller--button-start {
  height: auto;
  width: 25%;
  max-height: auto;
  align-self: center;
  padding-top: 0;
  padding-bottom: 0;
}
