<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Component</title>
    <style></style>
  </head>

  <body>
    <div>
      <my-component word="Hello World"></my-component>
    </div>
    <script>
      class MyComponent extends HTMLElement {
        constructor() {
          super()
          const word = this.getAttribute("word")
          this.innerHTML = `<h1>${word}</h1>`
        }
      }

      customElements.define("my-component", MyComponent)
    </script>
  </body>
</html>
