<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Component</title>
  </head>

  <body>
    <start-button>
      <span slot="title">Start</span>
    </start-button>

    <template id="start-button">
      <style>
        button {
          font-size: 3rem;
          padding: 0.5em 1em;
          border-radius: 0.5em;
          font-weight: 800;
          display: block;
        }
      </style>
      <button><slot name="title">Button</slot></button>
    </template>

    <script>
      customElements.define(
        "start-button",
        class StartButton extends HTMLElement {
          constructor() {
            super()
            let template = document.getElementById("start-button")
            let templateContent = template.content

            const shadowRoot = this.attachShadow({ mode: "open" })
            shadowRoot.appendChild(templateContent.cloneNode(true))
          }
        }
      )
    </script>
  </body>
</html>
